[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/
[Mm]emoryCaptures/
[Aa]ssets/[Aa]ddressable[Aa]ssets[Dd]ata/*
[Aa]ssets/[Ss]treamingAssets/*
.vs/
Assembly-CSharp.csproj
Assembly-CSharp-Editor.csproj
MicAmplifierEditor.Editor.csproj
PhotonChat.csproj
PhotonRealtime.csproj
PhotonUnityNetworking.csproj
PhotonUnityNetworking.Demos.csproj
PhotonUnityNetworking.Editor.csproj
PhotonUnityNetworking.Utilities.csproj
PhotonUnityNetworking.Utilities.Culling.Editor.csproj
PhotonUnityNetworking.Utilities.PhotonPlayer.Editor.csproj
PhotonVoice.API.csproj