.InputField {
    width: 450px;
    height: 70px;
    max-width: 450px;
    max-height: 70px;
    font-size: 28px;
    background-image: none;
    background-color: rgba(0, 0, 0, 0);
    -unity-background-image-tint-color: rgb(255, 255, 255);
    -unity-background-scale-mode: scale-to-fit;
    align-items: auto;
    margin-right: auto;
    margin-left: auto;
}
